@import url('./__contacts-button/page__contacts-button.css');
@import url('./__section-switcher/page__section-switcher.css');

.page {
  /* background-image: linear-gradient(90deg, #7022bd, #3C086B); */
  max-width: 1600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-family: 'Montserrat', Arial, sans-serif;
}
