@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('../vendor/Montserrat-Regular.ttf') format("ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url('../vendor/Montserrat-Bold.ttf') format("ttf");
}

@font-face {
  font-family: 'Fira Sans';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url('../vendor/FiraSans-Bold.ttf') format("ttf");
}
