.header__design {
  box-sizing: border-box;
  padding: 0 26px 0;
  background-color: #fff;
  max-width: 282px;
  width: 100%;
  height: 61px;
  border-radius: 5px;
  position: relative;
}

.header__design::after {
  position: absolute;
  top: 35%;
  right: 7%;
  content: url('../../../images/header__select.svg');
  pointer-events: none;
}

@media all and (max-width: 899px) {
  .header__design {
    margin-right: 10px;
  }
}

@media all and (max-width: 767px) {
  .header__design {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 485px) {
  .header__design {
    margin-right: 0;
    max-width: inherit;
    width: 100%;
  }
}
