.header__nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-width: 326px;
}

@media all and (max-width: 767px) {
  .header__nav-list {
    min-width: inherit;
    flex-direction: column;
  }
}
