.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media all and (max-width: 468px) {
  .header__wrapper {
    justify-content: center;
  }
}
